<b> - This document shows you how to make a Jaxon component.</b><br/>
<br/>
<h1><span style="text-decoration: underline;">  Basic  </span></h1>
&nbsp;
Here is the simplest Jaxon-component example, what is called a skeleton, and this do nothing.<br/>
<br/>
<pre>
	import jaxon.*;
	
	public class Skeleton {
		public static void main(String[] args) {
			Jaxon jaxon = new Jaxon();
			jaxon.run(args);
		}
	}
</pre>
<br/>
You must get Jaxon core object by new operator and "run" method invoke NOX processing. When you execute this method, the operations does not come back.<br/>

After creating a new Jaxon-component, you should invoke install.sh command, that is mentioned at "Quick start" page.<br/>
<br/>
<h1><span style="text-decoration: underline;">  Event Handler </span></h1>
<br/>
If you want to handle asynchronous OpenFlow protocol message, you can be achieved by inheriting following classes and register these instance to jaxon core object through "setHandler".<br/>
<br/>
Now I will show you the example of registering a event handler of Datapath-Join that is called when a switch is joined to a openflow network.<br/>

Here is the example of registering event-handler.<br/>
<br/>
<pre>
	jaxon.setHandler(new DPJoinHandler());
</pre>
<br/>
The object of "jaxon" is a instance of Jaxon class. and DPJoinHandler class is user-defined class like following.<br/>
<br/>
<pre>
	public static class DPJoinHandler implements Jaxon.CBDatapathJoin {
		public int callback(Jaxon.RequestDatapathJoin req) {
			System.out.printf("Datapath-join message was received.\n");

			return 0;
		}
	}
</pre>
<br/>
The interface of Jaxon.CBDatapathJoin describes that the implemented class is the event-handler of OpenFlow's Datapath-Join message.<br/>

Jaxon.RequestDatapathJoin has infomation of OpenFlow switch. The following is the definition of it.<br/>
<br/>
<pre>
	public static class RequestDatapathJoin extends Structure {
		public Openflow.OfpFlowMod.ByReference ofm;
		public Openflow.Datapathid dpid;
		public Openflow.Flow.ByReference flow;
	}
</pre>
<br/>
The same kind of class is present in every other event handler.<br/>
More detail, please see the <a href="http://10.100.2.3/reference/">reference page.</a><br/>

In each class, a member of the first and second variable is the same.<br/>
Members of the first variable is the equivalent of NOX's "struct ofp_flow_mod" which is defined at ${NOX_TOP}/src/include/openflow/openflow/openflow.h.<br/>

And another common attribute of dpid identifies each OpenFlow switches.<br/>

Corresponding to each event handler is as follows.<br/>
<br/>
<pre>
	- CBDatapathJoin : called when a switch is joined
	- CBPacketIn : called when a packet is come in.
	- CBTableStats : called when a statistics command response has received.
	- CBPortStats : called when a statistics command response has received.
	- CBAggregateStats : called when a statistics command response has received.
	- CBFlowStats : called when a statistics command response has received.
</pre>
<br/>
The reference of the data-structures that are detected as arguments of each event handlers are described at the <a href="http://10.100.2.3/reference/">reference page.</a><br/>
